<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(opor)" lines="none">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ opor.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ opor.descricao }}
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="delete.emit(opor); sliding.close()">
      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
    </ion-item-option>
    <ion-item-option color="warning" (click)="update.emit(opor); sliding.close()">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>