<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Oportunidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="(opor$ | async) as oportunidades">
    <ng-container *ngIf="oportunidades.length > 0; else noTasks">
      <app-opor-item
        *ngFor="let oportunidade of oportunidades"
        [opor]="oportunidade"
        
      ></app-opor-item>
    </ng-container>
    <ng-template #noTasks>
      <ion-item lines="none">Cadastre uma oportunidade de estágio clicando em +</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
