<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Oportunidades</ion-title>
        <app-login-button slot="end"></app-login-button>
    </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">
        <!-- Usar para o de usuário <ion-item>
                <ion-icon
                    name="search"
                    slot="start"
                    color="primary"
                ></ion-icon>
                <ion-select placeholder="Selecione">
                    <ion-select-option value="area1">TI</ion-select-option>
                    <ion-select-option value="area2">Administração</ion-select-option>
                    <ion-select-option value="area3">Pedagogia</ion-select-option>
                </ion-select>
            </ion-item> -->

    <ion-list *ngIf="(home$ | async) as oportunidades">
        <ng-container *ngIf="oportunidades.length > 0; else noTasks">
            <app-home-item
                *ngFor="let oportunidade of oportunidades"
                [home]="oportunidade"
            ></app-home-item>
        </ng-container>
        <ng-template #noTasks>
            <ion-item lines="none">
                Cadastre uma oportunidade de estágio clicando em +
            </ion-item>
        </ng-template>
    </ion-list>

</ion-content>